.consent {
  position: fixed;
  left: 10px;
  bottom: 10px;
  width: 100%;
  max-width: 320px;
  padding: $spacing*1.2;
  z-index: 80;
  background-color: $black;
  @include hide(true, 0.5s);
  
  @include bp-up(md) {
    left: 20px;
    bottom: 20px;
    max-width: 350px;
    padding: $spacing*1.8;
  }

  &-buttons {
    margin-top: $spacing*1.2;

    @include bp-up(sm) {
      margin-top: $spacing*1.8;
    }

    button {
      // min-width: 100px !important;
      // min-height: 35px !important;
      // padding: $spacing !important;
      // font-size: 9px !important;
    }
  }

  &--active {
    @include show;
  }

}