@use "../shared" as *;

button {
  padding: 0;
  cursor: pointer;
}

.button {
  $self: &;
  text-decoration: none;
  cursor: pointer;
  border: none;

  &-transparent {
    @extend #{$self};
    background-color: transparent;
  }

  &-color {
    @extend #{$self};
    background-color: transparent;
    color: $current;
    transition: color 0.3s ease;
    
    @include hover {
      color: var(--hover);
    }
  }

  &-opacity {
    @extend #{$self};
    background-color: transparent;
    color: $current;
    opacity: 1;
    transition: opacity 0.3s ease;
    will-change: opacity;
    
    @include hover {
      opacity: 0.6;
    }
  }

  &-scale {
    @extend #{$self};
    background-color: transparent;
    color: $current;
    transform: scale(1) translate3d(0,0,0);
    transition: transform 0.45s ease;
    
    @include hover {
      transform: scale(1.1) translate3d(0,0,0);
    }
  }
}

.btn {
  $self: &;

  &-primary {
    @include btn-primary;
  }

  &-secondary {
    @include btn-secondary;
  }

}

.btn,
.button {
  &[disabled="disabled"],
  &.disabled {
    @include btn-disabled;
  }
}