@use "../shared" as *;

/*! purgecss start ignore */

@mixin contents {

  h1 {@include heading-2;}
  h2 {@include heading-3;}
  h3 {@include heading-4;}
  h4 {@include heading-5;}
  h5 {@include heading-6;}
  h6 {@include subheading;}

  h1,h2,h3,h4,h5,h6 {
    margin-bottom: $spacing;
  }

  h1+h1,h1+h2,h1+h3,h1+h4,h1+h5,h1+h6,
  h2+h1,h2+h2,h2+h3,h2+h4,h2+h5,h2+h6 {
    margin-top: $spacing*6;
  }
  
  h3+h1,h3+h2,h3+h3,h3+h4,h3+h5,h3+h6,
  h4+h1,h4+h2,h4+h3,h4+h4,h4+h5,h4+h6,
  h5+h1,h5+h2,h5+h3,h5+h4,h5+h5,h5+h6,
  h6+h1,h6+h2,h6+h3,h6+h4,h6+h5,h6+h6 {
    margin-top: $spacing*4;
  }

  h1>b,h2>b,h3>b,h4>b,h5>b,h6>b,
  h1>strong,h2>strong,h3>strong,h4>strong,h5>strong,h6>strong {
    font-weight: inherit;
  }

  p+h1,
  p+h2,
  p+h3,
  p+h4,
  p+h5,
  p+h6 {
    margin-top: $spacing*4;
  }

  p+p,
  p+div,
  p+pre {
    margin-top: $spacing*1.5;
  }

  blockquote {
    padding: $spacing*4 $spacing*3 $spacing*3;

    @include bp-up(md) {
      width: 85%;
      margin-left: auto;
      margin-right: auto;
    }
  }


  p+hr, 
  div+hr,
  pre+hr {
    margin-top: $spacing*3;
  }

  hr {
    position: relative;
    width: 90%;
    height: 1px;
    margin-top: 0;
    margin-bottom: 0;
    margin-left: auto;
    margin-right: auto;
    border-bottom: 1px solid $current;
    border-top: none;
    border-left: none;
    border-right: none;

    + p, 
    + div,
    + pre {
      margin-top: $spacing*3;
    }
  }

  ul,
  ol {
    padding-top: $spacing*1.5;
    padding-bottom: $spacing*1.5;
    padding-left: $spacing*3;
  
    li {
      margin-bottom: calc($spacing/2);

      &:last-child,
      &:only-child {
        margin-bottom: 0;
      }
  
      >ul,
      >ol {
        padding-top: $spacing;
        padding-bottom: 0;
      }
    }
  
  }
  
  ul+ol {
    padding-top: 0;
  }
  
  ol+ul {
    padding-top: 0;
  }

  ul+h1,
  ol+h1,
  ul+h2,
  ol+h2,
  ul+h3,
  ol+h3,
  ul+h4,
  ol+h4,
  ul+h5,
  ol+h5,
  ul+h6,
  ol+h6 {
    padding-top: $spacing*3;
  }
  
  h1+ul,
  h1+ol,
  h2+ul,
  h2+ol,
  h3+ul,
  h3+ol,
  h4+ul,
  h4+ol,
  h5+ul,
  h5+ol,
  h6+ul,
  h6+ol {
    padding-top: 0;
  }

  table {
    width: 100%;
    margin-top: $spacing*2;
    margin-bottom: $spacing*2;
  
    td {
      padding: $spacing;
      border: 1px solid $current;
    }
  }
  
  table+h1,
  table+h2,
  table+h3,
  table+h4,
  table+h5,
  table+h6 {
    padding-top: $spacing*3;
  }

  div+h1, 
  div+h2, 
  div+h3, 
  div+h4, 
  div+h5, 
  div+h6 {
    padding-top: $spacing*3;
  }

  img {
    max-width: 100%;
    padding: $spacing*1.5 0;
    border-radius: 10px;

    &.alignleft {
      float: left;
      padding: 0;
      margin: 0 $spacing*3 $spacing 0;
    }
  
    &.aligncenter {
      margin-left: auto;
      margin-right: auto;
    }
  
    &.alignright {
      margin-left: auto;
    }
  }

  .btn {
    display: inline-block;
    margin-top: $spacing*2;

    + .btn {
      margin-left: $spacing;
    }
  }

  p > .btn {
    margin-top: calc($spacing/2);
  }

  .embed-responsive {
    margin-top: $spacing*1.5;
  }

}

.contents {
  @include contents;
}

/*! purgecss end ignore */