@use "../shared" as *;

/*! purgecss start ignore */

.input {
  $self: &;
  position: relative;

  &-field {
    @include input-field;
  }

  &-textarea {
    @include input-textarea;
  }

  &-select {
    @include input-select;
  }

  &-alert {

    &.error {
      color: $error;
    }
  }
}


/*! purgecss end ignore */