.overlap {
  $self: &;

  &-item {
    margin-bottom: calc(var(--overlap) * -1);
    transform: translate3d(0, -50%, 0);
  }

  &-custom {
    margin-bottom: var(--overlap-y, -200px);
    transform: translate3d(0,var(--overlap-y, -200px), 0);
    
    @include bp-down(md) {
      margin-bottom: calc(var(--overlap-y, -200px) / 2);
      transform: translate3d(0,calc(var(--overlap-y, -200px) / 2), 0);
    }
  }
}