@use "../shared" as *;

.parallax {
  $self: &;

  &-item {
    @include transform-fix;
    will-change: transform;
  }

  &-zoom {
    overflow: hidden;

    #{$self}-item {
      height: 115% !important;
    }
  }
}