@use "../shared" as *;

/*! purgecss start ignore */

.slider {
  $self: &;

  &-pagination {

    .swiper-pagination-bullet {}
  }

  &-fraction {}

  &-btn {

    &-prev {}
    &-next {}

    &.swiper-button-disabled {
      @include hide;
    }

    &.swiper-button-lock {
      @include hide;
    }
  }

  &-mobile { 
    .swiper {

      @include bp-up(md) {
        overflow: visible;
      }
    }

    .swiper-wrapper {
      @include bp-up(md) {
        width: auto !important;
        transform: none !important;
      }
    }
  }
}

/*! purgecss end ignore */