.tabs {

  [data-tab-panel] {
    @include hide;
    width: 100%;
    height: 0;

    >* {
      @include fade-up-in(.8s,ease,10px);

      > * {
        @include fade-up-in(.6s);
        @include child-delay($delay: .05s);
      }
    }

    &.active {
      @include show;
      height: auto;

      >* {
        @include end-transform;
        
        > * {
          @include end-transform;
        }
      }
    }

  }
}