.animated {
    $self: &;

    &-item {
        &.fade-up-in {
            @include fade-up-in(.9s);
        }

        &.fade-down-in {
            @include fade-down-in(.9s);
        }

        &.fade-left-in {
            @include fade-left-in(.9s);
        }

        &.fade-right-in {
            @include fade-right-in(.9s);
        }

        &.fade-in {
            @include fade-in(.9s);
        }

        &-delay {
            @include child-delay(10, .15s);
        }
    }

    &-group {
        &.fade-up-in {
            >* {
                @include fade-up-in(.9s);
                @include child-delay(10, .15s);
            }
        }

        &.fade-down-in {
            >* {
                @include fade-down-in(.9s);
                @include child-delay(10, .15s);
            }
        }

        &.fade-left-in {
            >* {
                @include fade-left-in(.9s);
                @include child-delay(10, .15s);
            }
        }

        &.fade-right-in {
            >* {
                @include fade-right-in(.9s);
                @include child-delay(10, .15s);
            }
        }
    }

    &.active {
        &#{$self}-item {

            &.fade-up-in,
            &.fade-down-in,
            &.fade-left-in,
            &.fade-right-in {
                @include end-transform;
            }

            &.fade-in {
                @include end-opacity;
            }
        }

        #{$self}-group {
            &.fade-up-in,
            &.fade-down-in,
            &.fade-left-in,
            &.fade-right-in {
                >* {
                    @include end-transform;
                }
            }
        }
    }
}