@mixin btn {
    display: inline-block;
    text-decoration: none;
    cursor: pointer;
    pointer-events: all;
}

@mixin btn-disabled {
    cursor: no-drop;
    @include opacity(.5);
    pointer-events: none;
}

@mixin btn-rectangle {
    padding: $spacing $spacing*2;
    text-align: center;
    white-space: nowrap;
}

a:not(.button):not(.btn) {
    color: inherit;
    text-decoration: underline;
    cursor: pointer;

    body:not(.mobile) & {
        @include transition(color .3s ease);

        &:hover,
        &:focus {
            color: mix($white, red, 10%);
        }
    }
}

.button {
    text-decoration: none;
    cursor: pointer;
}

.btn {
    $self: &;
    @include btn;

    &.disabled {
        @include btn-disabled;
    }

    &-rectangle {
        @include btn-rectangle;
    }
}