.filter {
    $self: &;

    &-results {
        min-height: 1000px;
        @include opacity(0);
        @include transition(opacity .3s ease);

        &--active {
            @include opacity(1);

            #{$self}-results-item {
                visibility: hidden;
                @include opacity(0);
                @include transform(translateY(20px));
                @include transition(visibility .8s, opacity .8s, transform .8s);
        
                &.active {
                    visibility: visible;
                    @include opacity(1);
                    @include transform(translateY(0));
                }
        
                &.hide {
                    display: none !important;
                }
            }
        }
    }
}