@mixin input-label {

}

@mixin input-field {

}

@mixin input-textarea {

}

@mixin input-select {

}

@mixin input-radio {

}

@mixin input-checkbox {

}

.input {
    $self: &;

    &-group {
        @include flexbox;
        @include align-items(center);
        @include justify-content(space-between);
    }

    &-label {
        @include input-label;
    }

    &-field {
        @include input-field;
    }

    &-textarea {
        @include input-textarea;
    }

    &-select {
        @include input-select;
    }

    &-radio {
        @include input-radio;
    }

    &-checkbox {
        @include input-checkbox;
    }
}