.section {
    $self: &;
    position: relative;

    &--xs {
        height: 100vh;
        min-height: 580px;
        max-height: 812px;
        
        @include bp-up(md) {
            min-height: 900px;
            max-height: 1045px;
        }
    }

    &--sm {
        height: 135vh;
        min-height: 1000px;
        max-height: 1200px;
        
        @include bp-up(md) {
            height: 100vh;
            min-height: 960px;
            max-height: 1045px;
        }
    }

    &--md {
        height: 150vh;
        min-height: 800px;
        max-height: 860px;

        @include bp-up(md) {
            min-height: 1100px;
            max-height: 1140px;
        }
    }

    &--lg {
        height: 150vh;
        min-height: 800px;
        max-height: 860px;
        
        @include bp-up(md) {
            height: 200vh;
            min-height: 1300px;
            max-height: 1455px;
        }
    }

    &--padding {
        padding-top: $spacing*15;
        padding-bottom: $spacing*10;
        
        @include bp-up(md) {
            padding-top: $spacing*20;
            padding-bottom: $spacing*15;
        }
    }

    &--spacing {
        padding-top: $spacing*10;
        padding-bottom: $spacing*10;
        
        @include bp-up(md) {
            padding-top: $spacing*20;
            padding-bottom: $spacing*20;
        }

        + #{$self}--spacing {
            padding-top: 0;
        }
    }

    &--center {
        
        &#{$self}--xs,
        &#{$self}--sm {
            @include flexbox;
            @include justify-content(center);
            @include align-items(center);
        }

        &#{$self}--md,
        &#{$self}--lg {
            .container {
                height: 100vh;
                min-height: 750px;
                max-height: 950px;
                
                @include flexbox;
                @include justify-content(center);
                @include align-items(center);
                
                @include bp-down(md) {
                    height: 90vh;
                    min-height: 568px;
                    max-height: 812px;
                }
            }
        }
    }

    &--left {
        @include flexbox;
        @include align-items(center);

        > div {
            width: 100%;
        }
    }

    &-bg {
        @include cover;
        pointer-events: none;

        &-inline {
            background-size: cover;
            background-repeat: no-repeat;
            background-position: 50% 50%;
        }

        &--top {
            background-position: 50% 0;

            img {
                object-position: 50% 0%;
                -o-object-position: 50% 0%;
            }
        }

        &--bottom {
            background-position: 50% 100%;

            img {
                object-position: 50% 100%;
                -o-object-position: 50% 100%;
            }
        }

        &--overlay {
            &:after {
                content:'';
                @include cover;
                background-color: transparentize($black, .70);
                pointer-events: none;
            }
        }
    }

    &-text {
        position: relative;
        z-index: 1;

        #{$self}-subtitle {
            margin-bottom: $spacing*1.5;
        }

        #{$self}-blurb {
            max-width: 600px;
            
            &-md {
                max-width: 550px;
            }

            &-sm {
                max-width: 285px;
            }
        }
    }

    &-content {
        padding-bottom: 100px;

        @include bp-up(lg) {
            padding-bottom: 200px;
        }
    }
}