.toggle {
    $self: &;

    width: 100%;
    max-width: 600px;
    margin-left: auto;
    margin-right: auto;
    text-align: center;

    &-group {
        position: relative;
        
        &-items {
            @include flexbox;
        }
        
        &-item {
            width: 100%;
            height: 100%;
            padding-top: $spacing*2;
            padding-bottom: $spacing*1.2;
            color: transparentize($white, 0.5);
            background-color: transparent;
            z-index: 1;
            @include transition(color .4s ease);

            &.active {
                color: $white;
            }
        }
    }

    &-links {
        position: relative;
        
        &-item {
            @include center;
            @include hide;

            &.active {
                @include show;
            }
        }
    }

    &-bg {
        position: absolute;
        top: 0;
        height: 100%;
        background-color: mix($black, $white, 40%);
        @include transition(left .45s ease, width .45s ease);
    }
}