// $ease-custom: cubic-bezier(0.77,0.2,0.05,1.0);
// $custom-ease: cubic-bezier(.4,0,.2,1);

.css-transitions-off * {
    -webkit-transition: none !important;
    -moz-transition: none !important;
    -ms-transition: none !important;
    -o-transition: none !important;
}

@mixin end-transform {
    @include opacity(1);
    @include transform(translate(0,0));
}

@mixin end-opacity {
    @include opacity(1);
}

@mixin fade-in($duration, $timing: ease) {
    @include opacity(0);
    @include transition(opacity $duration $timing);
}

@mixin fade-up-in($duration, $timing: ease, $var: 25px) {
    @include opacity(0);
    @include transform(translate(0, $var));
    @include transition(opacity $duration $timing, transform $duration $timing);
}

@mixin fade-down-in($duration, $timing: ease, $var: -25px) {
    @include opacity(0);
    @include transform(translate(0, $var));
    @include transition(opacity $duration $timing, transform $duration $timing);
}

@mixin fade-right-in($duration, $timing: ease, $var: 25px) {
    @include opacity(0);
    @include transform(translate($var, 0));
    @include transition(opacity $duration $timing, transform $duration $timing);
}

@mixin fade-left-in($duration, $timing: ease, $var: -25px) {
    @include opacity(0);
    @include transform(translate($var, 0));
    @include transition(opacity $duration $timing, transform $duration $timing);
}

@mixin child-delay($number:10, $delay:.15s) {
    @for $i from 1 to ($number + 1) {
        &:nth-child(#{$i}) { 
            @include transition-delay($i * $delay);
        }
    }
}