// @mixin title-xx {}
@mixin title-xl {}
@mixin title-lg {}
@mixin title-md {}
@mixin title-sm {}
// @mixin title-xs {}

@mixin subtitle-xl {}
@mixin subtitle-lg {}
@mixin subtitle-md {}
@mixin subtitle-sm {}

@mixin body {}
@mixin body-sm {}

@mixin caption {}

@mixin button {}

.title-xl {
    @include title-xl;
}

.title-lg {
    @include title-lg;
}

.title-md {
    @include title-md;
}

.title-sm {
    @include title-sm;
}

.subtitle-xl {
    @include subtitle-xl;
}

.subtitle-lg {
    @include subtitle-lg;
}

.subtitle-md {
    @include subtitle-md;
}

.subtitle-sm {
    @include subtitle-sm;
}

.body {
    @include body;
}

.body-sm {
    @include body-sm;
}

.caption {
    @include caption;
}

.text-center {
    text-align: center;
}

.text-left {
    text-align: left;
}

.text-right {
    text-align: right;
}

.text-normal {
    font-style: $fs-normal;
}

.text-italic {
    font-style: $fs-italic;
}

.text-lowercase {
    text-transform: lowercase;
}

.text-uppercase {
    text-transform: uppercase;
}

.text-capitalize {
    text-transform: capitalize;
}

.text {
    h1 {
        margin-bottom: $spacing/2;
        @include title-xl;

        @include bp-up(md) {
            margin-bottom: $spacing*1.5;
        }
    }

    h2 {
        margin-bottom: $spacing/2;
        @include title-lg;

        @include bp-up(md) {
            margin-bottom: $spacing*1.5;
        }
    }

    h3 {
        margin-bottom: $spacing/2;
        @include title-sm;

        @include bp-up(md) {
            margin-bottom: $spacing*1.5;
        }
    }

    h4 {
        margin-bottom: $spacing;
        @include subtitle-lg;

        @include bp-up(md) {
            margin-bottom: $spacing*1.5;
        }
    }

    h5 {
        margin-bottom: $spacing;
        @include subtitle-md;

        @include bp-up(md) {
            margin-bottom: $spacing*2;
        }
    }

    h6 {
        margin-bottom: $spacing;
        @include subtitle-sm;

        @include bp-up(md) {
            margin-bottom: $spacing*2;
        }
    }

    h1,
    h2,
    h3,
    h4,
    h5,
    h6 {
        color: $gold;
    }

    blockquote {
        padding: $spacing*4 $spacing*3 $spacing*3;
    }

    hr {
        width: 75%;
        margin: $spacing*4 auto;
        border: none;
        height: 2px;
        background-color: transparentize($gold, .5);
    }

    p+p {
        margin-top: $spacing*1.5;
    }

    p+h1,
    p+h2,
    p+h3,
    p+h4,
    p+h5,
    p+h6 {
        margin-top: $spacing*4;
    }

    ul,
    ol {
        padding-top: $spacing*1.5;
        padding-bottom: $spacing*1.5;
        padding-left: $spacing*3;

        li {
            margin-bottom: $spacing;

            >ul,
            >ol {
                padding-top: $spacing;
                padding-bottom: 0;
            }
        }

    }

    ul {
        list-style-type: square;
    }

    ul+ol {
        padding-top: 0;
    }

    ol+ul {
        padding-top: 0;
    }

    ul+h1,
    ol+h1,
    ul+h2,
    ol+h2,
    ul+h3,
    ol+h3,
    ul+h4,
    ol+h4,
    ul+h5,
    ol+h5,
    ul+h6,
    ol+h6 {
        padding-top: $spacing*2;
    }

    h1+ul,
    h1+ol,
    h2+ul,
    h2+ol,
    h3+ul,
    h3+ol,
    h4+ul,
    h4+ol,
    h5+ul,
    h5+ol,
    h6+ul,
    h6+ol {
        padding-top: 0;
    }
}