.agegate {
    $self: &;
    @include cover(fixed);
    z-index: 100;

    visibility: visible;
    @include opacity(1);
    pointer-events: all;
    @include transform(scale(1));
    @include transition(opacity .4s $custom-ease, visibility .4s $custom-ease, transform 1.2s $custom-ease);

    &:not(#{$self}--scroll) {
        @include flexbox;
        @include align-items(center);
        @include justify-content(center);
    }
    
    &--scroll {
        padding-top: $spacing*4;
        overflow-y: scroll;
        overflow-x: hidden;
    }

    &-container {

        #{$self}--scroll & {
            min-height: 460px;
        }
    }

    &-access {
        position: relative;
        width: 100%;
        min-height: 65px;
        
        &-item {
            @include opacity(1);
            @include transition(opacity .4s);
            
            &:not(.btn) {
                position: absolute;
                top: 0;
                left: 50%;
                width: 200px;
                margin: 0 auto;
                @include transform(translate(-50%, 0));
            }
            
            &.hidden {
                pointer-events: none;
                @include transition(opacity 0s);
                @include opacity(0);
            }
        }
    }

    &.hidden {
        visibility: hidden;
        @include opacity(0);
        pointer-events: none;
        @include transform(scale(1.02));
    }
}