.modal {
    $self: &;

    display: none;
    @include cover(fixed);
    background: transparentize($black, 0.3);
    z-index: 100;
    overflow: scroll;

    .close-btn {
        position: fixed;
        top: 50px;
        right: 50px;
        z-index: 10;
    }

    &-container {
        max-width: 1400px;
        width: 100%;
        height: 100%;
        margin: 0 auto;
        padding: $spacing*3;

        @include bp-up(md) {
            @include flexbox;
            @include justify-content(center);
            @include align-items(center);
        }
    }
    
    &-content {
        position: relative;
        width: 100%;
        height: 0;
        padding-top: 56.25%;
        
        &-wrap {
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
        }
        
        iframe {
            height: 100%;
            width: 100%;
        }
    }

    &-btn {
        + #{$self}-content {
            display: none;
        }
    }

    &.active {
        display: block;
    }
}