.promo {
    $self: &;
    @include cover(fixed);
    background: transparentize($black, 0.3);
    z-index: 100;
    @include opacity(1);
    @include transition(opacity .4s, visibility .4s);

    &.hidden {
        visibility: hidden;
        pointer-events: none;
        @include opacity(0);

        .promo-container {
            @include opacity(0);
            @include transform(translateY(20%));
        }
    }
}