@use "../shared" as *;
@use "../admin/mixins" as *;

.acf {
  &-fields {
    >.acf-field {

      [data-name="id"],
      [data-name="visibility"] {
        background-color: #f3f4f5;
      }

      .acf-label {
        .description {
          @include wp-admin($important: !important);
        }
      }

      &.text-right { text-align: right;}
      &.text-center { text-align: center;}

      input, textarea {
        &::placeholder {
            opacity: 0.75;
            transition: opacity 0.3s $ease-default;
          }
        
        &:focus {
          &::placeholder { opacity: 0.5; }
        }
      }

      .acf-image-uploader {
        .image-wrap {
          max-width: 50px !important;
          max-height: 50px !important;
          
          img {
            width: 50px !important;
            height: 50px !important;
            min-width: 50px !important;
            min-height: 50px !important;
            max-width: 50px !important;
            max-height: 50px !important;
          }
        }
      }

      .acf-gallery {
        height: 300px !important;
      }

      &.acf-accordion {
        
        .acf-accordion-title {
          background-color: #f3f4f5;

          &:hover {
            background-color: #e5e7e9;
          }

          .acf-accordion-icon {
            float: none;
          }

          label {
            display: inline-block;
          }
          
        }

        &.-open {
          .acf-accordion-title {}
        }
      }

      &.acf-field-message {
        
        &:not(.no-style) {
          padding-top: 0 !important;
          padding-bottom: 0 !important;
          border-top: none;
          
          + .acf-field {
            border-top: none;
          }
        }


        .acf-input {
          
          p {
            @include wp-admin($important: !important);
          }

          ul {
            padding-left: $spacing*1.2;
            list-style-type: disc;

            li {
              margin-bottom: 2px;
            }
          }
        }
      }

      &.mce-small {
        iframe,
        textarea {
          height: 120px !important;
          min-height: 120px !important;
        }
      }

    }
  }

  &-oembed {
    .canvas {
      min-height: 100px !important;

      iframe {
        height: auto;
      }
    }
  }
}

// [FORCE] Hide Content Editor 
#acf-group_6451a05839d05 {
  display: none !important;
}

// Removals based on User Role
body:not(.role-administrator):not(.role-developer) .admin-only {
  display: none;
}

// Removals based on "Developer" only User Role
body:not(.role-developer) .dev-only {
  display: none;
}

// Removals based on Page
body:not(.page-slug-home) .home-only {
  display: none;
}