.login {
  display: flex;
  justify-content: center;
  align-items: center;
  @include wp-body;
  background: var(--wp-login-bg-color);
  color: var(--wp-login-text-color) !important;

  #login {
    width: 100%;
    max-width: 400px;
    padding: $spacing*2;
    margin: auto;

    p,form,div {

      a:not(.button) {
        @include wp-body;
        @include wp-btn-reset;
        @include wp-text-decoration;
        color: var(--wp-login-link-color);
  
        &:hover,
        &:focus {
          color: var(--wp-login-link-color-hover);
        }
      }
    }


    >h1 {
      >a {
        margin: $spacing auto;
        width: var(--wp-login-logo-width);
        height: var(--wp-login-logo-height);
        aspect-ratio: var(--wp-login-logo-ratio);
        @include wp-logo;
        background: {
          image: none !important;
          color: var(--wp-login-logo-color) !important;
        }
        transition: background-color .3s ease !important;

        &:hover,
        &:focus {
          background-color: var(--wp-login-logo-color-hover) !important;
        }
      }
    }

    >#login_error,
    >.message,
    >.success {
      margin: {
        top: $spacing*2;
        bottom: $spacing*2;
      }
      padding: $spacing*1.5;
      text-align: left;
      background-color: var(--wp-login-message-bg);
      box-shadow: 0 2px 15px 0 transparentize($black, .65);
      font-size: 87%;
    }

    >#login_error {
      border-color: var(--wp-login-message-error);
    }
    
    >.message {
      border-color: var(--wp-login-message-default);
    }

    >.success {
      border-color: var(--wp-login-message-success);
    }

    >form {
      padding: {
        left: $spacing*2;
        right: $spacing*2;
      }
      border: none;
      box-shadow: none;
      background: var(--wp-login-form-color);

      input {
        border-radius: 0;
        box-shadow: none;
        background-color: var(--wp-login-input-bg);
        border: var(--wp-login-input-border-width, 1px) solid var(--wp-login-input-border);
        color: var(--wp-login-input-color);
        @include wp-input;
        transition: border-color .3s ease;

        &:focus {
          border-color: var(--wp-login-input-border-focus);
        }

        &[type="password"],
        &[type="text"] {
          min-height: 42px;
          margin-top: 0;
          padding: {
            left: $spacing;
            right: $spacing;
          }

          &::placeholder {
            color: var(--wp-login-input-placeholder-color);
          }

          &:-webkit-autofill,
          &:-webkit-autofill:hover,
          &:-webkit-autofill:focus,
          &:-webkit-autofill:active {
            -webkit-box-shadow: 0 0 0 30px var(--wp-login-input-autofill-bg) inset !important;
            -webkit-text-fill-color: var(--wp-login-input-autofill-color) !important;
          }
        }

        &[type="checkbox"] {
          position: relative;

          &:before {
            content: '';
            @include center;
            height: 15px;
            width: 15px;
            margin: 0;
            @include mask('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 70 70"><path d="M32.053723096847534,34.999999761581421L12.693527936935425,15.639806509017944c-.813592910766602-.813592910766602-.813592910766602-2.132686614990234,0-2.946277618408203.813592910766602-.813592910766602,2.132686614990234-.813592910766602,2.946277618408203,0l19.360195159912109,19.360193252563477,19.360191345214844-19.360193252563477c.813591003417969-.813592910766602,2.132682800292969-.813592910766602,2.946281433105469,0,.813591003417969.813592910766602.813591003417969,2.132686614990234,0,2.946277618408203l-19.360195159912109,19.360193252563477,19.360195159912109,19.360191345214844c.813591003417969.813591003417969.813591003417969,2.132682800292969,0,2.946281433105469-.813591003417969.813591003417969-2.132682800292969.813591003417969-2.946281433105469,0l-19.360191345214844-19.360195159912109-19.360193252563477,19.360195159912109c-.813592910766602.813591003417969-2.132686614990234.813591003417969-2.946277618408203,0-.813592910766602-.813591003417969-.813592910766602-2.132682800292969,0-2.946281433105469l19.360193252563477-19.360191345214844Z"/></svg>');
            background-color: var(--wp-login-input-color);
            @include hide;
            transition: visibility .3s ease, opacity .3s ease;
          }

          &:checked {
            &:before {
              @include show;
            }
          }
        }
      }

      label {
        width: 100%;
        margin-bottom: $spacing/2;
        @include wp-label;
        color: var(--wp-login-label-color);
      }

      .forgetmenot {
        display: flex;
        align-items: center;

        >input {
          margin-right: $spacing;
        }

        >label {
          margin-bottom: 0;
        }
      }

      .submit {
        margin-top: $spacing*3.5;
      }
    }

    >p {
      text-align: center;
    }

    .button {

      &-primary {
        @include wp-btn-primary;
      }

      &-large {
        @include wp-btn-secondary;
      }

      &-secondary {
        @include wp-btn-reset;
      }

      &.wp-hide-pw {
        top: 0;
        right: 4px;

        span {
          top: 0;
          color: var(--wp-login-label-icon-color);
          transition: color .3s ease;
        }

        &:hover,
        &:focus {
          span {
            color: var(--wp-login-label-icon-color-hover);
          }
        }
      }
    }

  }

  &.login-action-login {}

  &.login-action-lostpassword {}

  &.login-action-confirm_admin_email {

    #login {
      max-width: 600px;

      > form {
        padding-bottom: 0;

        .admin-email__heading {
          @include wp-heading;
          margin-bottom: $spacing*3;
          text-transform: capitalize;
          color: var(--wp-login-text-color);
          border-color: var(--wp-login-input-border);
        }

        .admin-email__details {
          @include wp-body;
        }

        .admin-email__actions-primary {
          margin-top: $spacing*2;
          display: flex;
          justify-content: flex-start;
          align-items: center;

          a.button {
            display: flex !important;
            align-items: center;
          }

          .button {
            margin-left: 0;
            margin-right: $spacing*1.5;
          }
        }

        .admin-email__actions-secondary {
          text-align: center;
        }
      }
    }

  }
}