@use "../shared" as *;
@use "../admin/mixins" as *;

.login {
  display: flex;
  justify-content: center;
  align-items: center;
  background: var(--wp-login-bg-color);
  color: var(--wp-login-text-color) !important;
  @include wp-body;

  #login {
    width: 100%;
    max-width: 400px;
    padding: $spacing*2;
    margin: auto;

    p,form,div {

      a:not(.button) {
        color: var(--wp-login-link-color);
        @include wp-text-decoration;
        @include wp-btn-reset;
        @include wp-body;
  
        &:hover,
        &:focus {
          color: var(--wp-login-link-color-hover);
        }
      }
    }


    >h1 {
      >a {
        margin: $spacing auto 0;
        width: var(--wp-login-logo-width);
        height: var(--wp-login-logo-height);
        aspect-ratio: var(--wp-login-logo-ratio);
        @include wp-logo;
        background: {
          image: none !important;
          color: var(--wp-login-logo-color) !important;
        }
        transition: background-color .3s ease !important;

        &:hover,
        &:focus {
          background-color: var(--wp-login-logo-color-hover) !important;
        }
      }
    }

    >#login_error,
    >.message,
    >.success {
      margin: {
        top: $spacing*2;
        bottom: $spacing*2;
      }
      padding: $spacing*1.5;
      text-align: left;
      background-color: var(--wp-login-message-bg);
      box-shadow: 0 2px 15px 0 color-adjust($black, $alpha: -0.65);
      @include wp-message;
      
      a { @include wp-message; }

      a[href="https://makersandallies.com"] {
        display: none !important;
      }
    }

    >#login_error {
      border-color: var(--wp-login-message-error);
    }
    
    >.message {
      border-color: var(--wp-login-message-default);
    }

    >.success {
      border-color: var(--wp-login-message-success);
    }

    >form {
      padding: {
        left: $spacing*2;
        right: $spacing*2;
      }
      margin-top: 0;
      border: none;
      box-shadow: none;
      background: var(--wp-login-form-color);

      input {
        box-shadow: none;
        background-color: var(--wp-login-input-bg);
        border: var(--wp-login-input-border-width, 1px) solid var(--wp-login-input-border);
        border-radius: var(--wp-login-input-border-radius, 0px);
        color: var(--wp-login-input-color);
        transition: border-color .3s ease;
        @include wp-input;

        &:focus {
          border-color: var(--wp-login-input-border-focus);
        }

        &[type="password"],
        &[type="text"] {
          min-height: 45px;
          margin-top: 0;
          padding: {
            left: $spacing*1.5;
            right: $spacing*1.5;
          }

          &::placeholder {
            color: var(--wp-login-input-placeholder-color);
          }

          &:-webkit-autofill,
          &:-webkit-autofill:hover,
          &:-webkit-autofill:focus,
          &:-webkit-autofill:active {
            -webkit-box-shadow: 0 0 0 30px var(--wp-login-input-autofill-bg) inset !important;
            -webkit-text-fill-color: var(--wp-login-input-autofill-color) !important;
          }
        }

        &[type="checkbox"] {
          position: relative;
          display: flex;
          align-items: center;
          justify-content: center;
          margin-bottom: 0;

          &:before {
            content: '';
            height: 60%;
            width: 60%;
            margin: 0;
            background-color: var(--wp-login-input-border);
            border-radius: var(--wp-login-input-border-radius);
            @include hide(true,0.3s);
          }

          &:checked {
            
            &:before {
              @include show;
            }
          }
        }
      }

      label {
        width: 100%;
        margin-bottom: calc($spacing/2);
        margin-left: $spacing;
        color: var(--wp-login-label-color);
        @include wp-label;
      }

      .forgetmenot {
        display: flex;
        align-items: center;

        >input {
          margin-right: $spacing;
        }

        >label {
          margin-bottom: 5px;
          margin-left: 0;
        }
      }

      .submit {
        margin-top: $spacing*3.5;
      }
    }

    >p {
      text-align: center;
    }

    .button {

      &-primary {
        @include wp-btn-primary;
      }

      &-large {
        @include wp-btn-secondary;
      }

      &-secondary {
        @include wp-btn-reset;
      }

      &.wp-hide-pw {
        top: 0;
        right: 4px;

        span {
          top: 0;
          color: var(--wp-login-label-icon-color);
          transition: color .3s ease;
        }

        &:hover,
        &:focus {
          span {
            color: var(--wp-login-label-icon-color-hover);
          }
        }
      }
    }

  }

  &.login-action-login {}

  &.login-action-lostpassword {}

  &.login-action-confirm_admin_email {

    #login {
      max-width: 600px;

      > form {
        padding-bottom: 0;

        .admin-email__heading {
          margin-bottom: $spacing*3;
          text-transform: capitalize;
          color: var(--wp-login-text-color);
          border-color: var(--wp-login-input-border);
          @include wp-heading;
        }

        .admin-email__details {
          @include wp-body;
        }

        .admin-email__actions-primary {
          margin-top: $spacing*2;
          display: flex;
          justify-content: flex-start;
          align-items: center;

          a.button {
            display: flex !important;
            align-items: center;
          }

          .button {
            margin-left: 0;
            margin-right: $spacing*1.5;
          }
        }

        .admin-email__actions-secondary {
          text-align: center;
        }
      }
    }

  }
}