@mixin wp-body {
  @include caption;
}

@mixin wp-caption {
  @include caption;
}

@mixin wp-input {
  @include body;
}

@mixin wp-btn-reset {
  text-decoration: none !important;
  border-color: transparent !important;
  box-shadow: 0 0 0 0 transparent !important;
  outline: none !important;
  line-height: initial !important;
  border-radius: 0 !important;
}

@mixin wp-text-decoration {
  @include text-decoration(true);
}

@mixin wp-btn-primary {
  @include wp-btn-reset;
  @include btn-secondary(!important, true);
}

@mixin wp-btn-secondary {
  @include wp-btn-primary;
}

@mixin wp-logo {
  // @include mask('images/logo.svg');
}