:root {
  --wp-login-bg-color: #{$white};
  --wp-login-form-color: #{$white};
  --wp-login-text-color: #{$black};
  --wp-login-link-color: #{$black};
  --wp-login-link-color-hover: #{$black};
  --wp-login-logo-color: #{$black};
  --wp-login-logo-color-hover: red;
  --wp-login-logo-height: 100px;
  --wp-login-logo-width: 125px;
  --wp-login-input-bg: #{$white};
  --wp-login-input-border: #{$black};
  --wp-login-input-border-focus: red;
  --wp-login-input-color: #{$black};
  --wp-login-label-color: #{$black};
  --wp-login-message-bg: #{$white};
  // --wp-login-btn-bg-color: #{$black};
  // --wp-login-btn-color: #{$white};
  // --wp-login-btn-bg-color-hover: #{$white};
  // --wp-login-btn-color-hover: #{$black};
}