@use "../shared" as *;
@use "../admin/mixins" as *;

#wpcontent {
  position: relative;
}

#wpcontent .banner {
  padding-left: $spacing*1.5;
  padding-right: $spacing*1.5;
  padding-top: $spacing*1.5;
  padding-bottom: $spacing*1.5;
  margin-top: $spacing;
  margin-bottom: $spacing*1.5;
  border-left: 4px solid;
  background-color: $white;
  font-style: $fs-italic;
  color: $black-transparent;

  &.banner-help {
    border-color: $black;
  }

  &.banner-error {
    border-color: $error;
  }
}

#postimagediv {
  .inside {
    @include wp-admin;
  }
}

// Hide "Patterns"
#menu-appearance {
  ul.wp-submenu {
    li:nth-child(3) { display: none !important; }
  }
}