.ppwp {

  &-sitewide-protection {
    background-color: $white;
  }
}

.ppw {
  
  &-ppf {

    &-input-container {
      position: relative;
      max-width: map-get($breakpoints,'sm');
      margin: $spacing*8 auto;
      text-align: center;
    }
    
    &-desc {
      position: absolute;
      top: 0;
      left: 50%;
      width: 100%;
      transform: translate3d(-50%,-250%,0);
      margin-bottom: $spacing*3;
      @include heading-4;
    }
    
    &-field-container {
      text-align: right;
    }
    
    &-error-msg {
      margin-top: $spacing/1.25;
      text-align: center;
      @include caption;
    }
    
    &-show-pwd-btn {
      position: absolute;
      top: 25px;
      right: 12px;
      transform: translate3d(0,-50%,0);

      input[type="checkbox"] {
        position: relative;
        height: 18px;
        width: 20px;
        background: url(images/icon-eye.svg) no-repeat 50% 50%/contain;
        cursor: pointer;

        &:after {
          content:'';
          position: absolute;
          top: 50%;
          left: 50%;
          transform: translate3d(-50%,-50%,0) rotate(45deg);
          height: 100%;
          width: 2px;
          background-color: $black;
          @include hide;
        }

        &:checked {
          &:after {
            @include show;
          }
        }

        + label {
          @include sr-only;
        }
      }
    }
  }

  &-pwd {
    &-label {

      input[type="password"],
      input[type="text"] {
        color: $black;
        @include input-field;
        background-color: $white;
      }
    }
    
    &-submit-btn {
      position: absolute;
      bottom: 0;
      right: 0;
      transform: translate3d(0,100%,0);
      // @include btn-primary($wp: true);
    }
  }

  &-swp {

    &-form {
      max-width: map-get($breakpoints,'sm');
      margin-left: auto;
      margin-right: auto;
      padding: $spacing*8 $spacing*1.5 !important;
      background-color: $white !important;
      text-align: right;
      box-shadow: none !important;
      
      &-container {
        width: 100% !important;
        min-height: 80vh;
        @include flex-center;
        flex-direction: column;
        padding: 0 !important;
        background-color: $white;
        
        h1 {
          @include sr-only;
        }
      }

      
      h2 {
        margin-bottom: $spacing;
        @include heading-4;
        text-align: center;
      }

      label {
        @include sr-only;
      }

      input[type="password"],
      input[type="text"] {
        @include input-field;
        background-color: $white;
      }

      input[type="submit"] {
        margin-top: $spacing*2;
        // @include btn-primary($wp:true);
      }
    }
  }

  &-entire-site-password-error {
    margin-top: $spacing/1.25;
    text-align: center;
    @include caption;
  }
}
