.login {
	background-color: $default_bg;
	@include bg-paper;
	@include flexbox;
	@include justify-content(center);
	@include align-items(center);

	a {
		color: $default_link !important;
		font-style: italic;
		@include transition(color .2s ease);

		&:hover,
		&:focus {
			color: $default_link_hover !important;
		}

		&:focus {
			box-shadow: 0 0 0 1px $focus, 0 0 2px 1px transparentize($focus, 0.2);
		}
	}

	#login {
		width: 460px;
		padding: 0 $spacing*2;

		h1 {
			a {
				margin: 0 auto $spacing*4;
				background: url(img/global/logos/corralejo-tequila-logo-wordmark.svg) 50% 50% no-repeat !important;
				width: $logo_width !important;
				height: $logo_height !important;
				background-size: contain !important;
			}
		}

		#loginform,
		#lostpasswordform,
		form {
			padding: 0 $spacing*4.5;
			background: transparent !important;
			box-shadow: none;
			border-radius: 0;
			border: none;
			@include flexbox;
			@include flex-direction(column);
			@include justify-content(space-between);

			label {
				color: $default_color;
				// letter-spacing: 0.5px;
				// font-weight: 500;
				// font-size: 12px;
				@include body-sm;
			}

			input[type="password"],
			input[type="text"],
			input[type="checkbox"] {
				background: $input_bg;
				border: 1px solid $input_border;
				border-radius: 0;
				box-shadow: none;
				color: $input_color;

				&:focus,
				&:active {
					border-color: $focus;
				}
			}

			input[type="password"],
			input[type="text"] {
				font-size: 20px;
			}

			input[type="password"],
			input[type="text"] {
				padding: 10px 15px;
				height: auto;
			}

			input[type="checkbox"],
			input[type="radio"] {
				height: 16px;
				width: 16px;
				min-width: 16px;
			}

			input[type="checkbox"] {
				&:checked {
					&:before {
						content: "\2716";
						margin: 9px 0px 0 -3px;
						color: $input_color;
						font-size: 14px;
					}
				}
			}

			input:-webkit-autofill,
			input:-webkit-autofill:hover,
			input:-webkit-autofill:focus textarea:-webkit-autofill,
			textarea:-webkit-autofill:hover textarea:-webkit-autofill:focus,
			select:-webkit-autofill,
			select:-webkit-autofill:hover,
			select:-webkit-autofill:focus {
				border: 1px solid $input_border;
				-webkit-text-fill-color: $input_color;
				-webkit-box-shadow: 0 0 0px 1000px transparent inset;
				transition: background-color 5000s ease-in-out 0s;
			}

			.wp-hide-pw {
				top: 4px;
				right: 4px;

				&:focus {
					background: 0 0;
					border-color: $focus;
					box-shadow: 0 0 0 1px $focus;
					outline: 2px solid transparent;
				}

				.dashicons {
					color: $input_color;
				}
			}

			.forgetmenot {
				margin: 8px 0;
			}

			.submit {
				position: relative;
				display: inline-block;
				float: none;
				margin: 0 0 0 auto;
			}
		}

		.button {
			box-shadow: none;
			text-shadow: none;
			text-align: center;

			&-primary {
				margin-top: $spacing/2;
				border-radius: 0;
				outline: 0px solid transparent;

				line-height: 0;
				border-top: none;
				border-left: none;
				border-right: none;

				display: inline-block;
				overflow: visible;
				height: 27px;
				min-height: 100%;
				padding-left: $spacing*1.5;
				padding-right: $spacing*1.5;
				@include button;
				color: $brass;
				border-bottom: 3px solid $brass;
				background-color: transparent;
				cursor: pointer;
				@include transition(color .3s ease, padding-left .3s ease, padding-right .3s ease, border-color .3s ease);

				&:hover,
				&:focus {
					color: $sun;
					border-color: $sun;
					padding-left: $spacing*2;
					padding-right: $spacing*2;

				}
			}

			&-large {
				// padding: 1em 1.75em;
			}
		}

		#nav {
			text-align: center;
		}

		#backtoblog {
			// display: none;
			text-align: center;
		}

		.privacy-policy-page-link {
			display: none;
		}
	}

	#login_error,
	.message,
	.success {
		font-size: 12px;
		background-color: $alert_bg;
		color: $default_link;
		border-left-color: $alert_border;
	}

	#login_error {
		border-left-color: $error_border;

		a {
			display: inline-block;

			&:nth-of-type(2) {
				display: none;
			}
		}
	}

}

.admin-email-confirm-form {
	max-width: 500px !important;
	margin: 0 auto !important;
}

.admin-email__heading {
	margin-bottom: 1rem;
	color: $default_color !important;
}

.admin-email__details {
	margin-bottom: 8px !important;
	color: $default_color !important;
}