$focus: $sun;
$default_bg: $flour;
$default_color: $brown;
$default_link: $gold;
$default_link_hover: $sun;

$logo_height: 100px;
$logo_width: auto;

$alert_bg: transparentize($flour,.5);
$alert_border: $indigo;
$error_border: $sun;
$input_color: $brown;
$input_border: $brown;
$input_bg: transparent;
$button_bg: transparent;
$button_border: $gold;
$button_color: $gold;
$button_bg_hover: transparent;
$button_border_hover: $sun;
$button_color_hover: $sun;