@use "../shared" as *;

/*! purgecss start ignore */

.bg {
  $self: &;

  &-cover {
    @include cover($position: absolute,  $important: !important);
    pointer-events: none;

    img {
      object-position: var(--position, 50% 50%);
    }

    &--half {
      height: 50% !important;
    }
  }

  &-inline {
    @extend #{$self}-cover;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: var(--position, 50% 50%);
  }

  &-repeat {
    @extend #{$self}-cover;
    background-size: var(--size, auto);
    background-repeat: repeat;
    background-position: var(--position, 50% 50%);
  }

  &--overlay {

    &:after {
      content: '';
      @include cover;
      background-color: var(--bg, $black);
      opacity: var(--opacity, .4);
      pointer-events: none;
      z-index: 1;
      transform: translate3d(0, 0, 0);
    }
  }
}

/*! purgecss end ignore */