@use "sass:meta";
@use "../shared" as *;

$border-sides: (
  null: "",
  top: "top",
  bottom: "bottom",
  left: "left",
  right: "right",
  y: ("top", "bottom"),
  x: ("left", "right")
);

@each $name, $color in $colors {
  @each $key, $value in $border-sides {
    $class: if($key == null, ".border-#{$name}", ".border-#{$key}-#{$name}");

    #{$class} {
      @if meta.type-of($value) == "list" {
        @each $side in $value {
          border-#{$side}: var(--border-width, 1px) solid #{$color};
        }
      }

      @else if $value != "" {
        border-#{$value}: var(--border-width, 1px) solid #{$color};
      }
       
      @else {
        border: var(--border-width, 1px) solid #{$color};
      }
    }
  }
}


$radius-sizes: (
  null: 10px,
  // inner: 5px
);

@each $mod, $radius in $radius-sizes {
  $prefix: if($mod == null, "", "-#{$mod}");

  .border-radius#{$prefix} {
    border-radius: $radius;

    &-top {
      border-top-left-radius: $radius;
      border-top-right-radius: $radius;
    }

    &-bottom {
      border-bottom-left-radius: $radius;
      border-bottom-right-radius: $radius;
    }
  }
}