@use "../shared" as *;

.d-flex {
  $self: &;
  display: flex;

  &-wrap {
    @extend #{$self};
    flex-wrap: wrap;
  }

  &-col {
    @extend #{$self};
    flex-direction: column;
  }

  &-col-wrap {
    @extend #{$self};
    flex-direction: column;
    flex-wrap: wrap;
  }

  &-inline {
    display: inline-flex;
  }

  &--align-center { align-items: center;}
  &--align-top { align-items: flex-start;}
  &--align-bottom { align-items: flex-end;}

  &--justify-center { justify-content: center;}
  &--justify-start { justify-content: flex-start;}
  &--justify-end { justify-content: flex-end;}
  &--justify-between { justify-content: space-between;}
  &--justify-around { justify-content: space-around;}
  &--justify-evenly { justify-content: space-evenly;}

  &--center {
    align-items: center;
    justify-content: center;
  }

  &--sp-between {
    align-items: center;
    justify-content: space-between;
  }

  &--top {
    align-items: flex-start;
    justify-content: center;
  }

  &--bottom {
    align-items: flex-end;
    justify-content: center;
  }

  &-t {
    @include bp-up(md) {
      display: flex;
    }

    &-wrap {
      @extend #{$self}-t;
      @include bp-up(md) {
        flex-wrap: wrap;
      }
    }

    &-col-wrap {
      @extend #{$self}-t;
      @include bp-up(md) {
        flex-wrap: wrap;
        flex-direction: column;
      }
    }

    &-inline {
      @include bp-up(md) {
        display: inline-flex;
      }
    }

    &--align-center { @include bp-up(md) { align-items: center;}}
    &--align-top { @include bp-up(md) { align-items: flex-start;}}
    &--align-bottom { @include bp-up(md) { align-items: flex-end;}}

    &--justify-center { @include bp-up(md) { justify-content: center;}}
    &--justify-start { @include bp-up(md) { justify-content: flex-start;}}
    &--justify-end { @include bp-up(md) { justify-content: flex-end;}}
    &--justify-between { @include bp-up(md) { justify-content: space-between;}}
    &--justify-around { @include bp-up(md) { justify-content: space-around;}}
    &--justify-evenly { @include bp-up(md) { justify-content: space-evenly;}}

    &--center { 
      @include bp-up(md) {
        align-items: center;
        justify-content: center;
      }
    }

    &--sp-between { 
      @include bp-up(md) {
        align-items: center;
        justify-content: space-between;
      }
    }

    &--top { 
      @include bp-up(md) {
        align-items: flex-start;
        justify-content: center;
      }
    }

    &--bottom { 
      @include bp-up(md) {
        align-items: flex-end;
        justify-content: center;
      }
    }
  }

  &-d {
    @include bp-up(lg) {
      display: flex;
    }

    &-wrap {
      @extend #{$self}-d;
      @include bp-up(lg) {
        flex-wrap: wrap;
      }
    }

    &-col-wrap {
      @extend #{$self}-d;
      @include bp-up(lg) {
        flex-wrap: wrap;
        flex-direction: column;
      }
    }

    &-inline {
      @include bp-up(lg) {
        display: inline-flex;
      }
    }

    &--align-center { @include bp-up(lg) { align-items: center;}}
    &--align-top { @include bp-up(lg) { align-items: flex-start;}}
    &--align-bottom { @include bp-up(lg) { align-items: flex-end;}}

    &--justify-center { @include bp-up(lg) { justify-content: center;}}
    &--justify-start { @include bp-up(lg) { justify-content: flex-start;}}
    &--justify-end { @include bp-up(lg) { justify-content: flex-end;}}
    &--justify-between { @include bp-up(lg) { justify-content: space-between;}}
    &--justify-around { @include bp-up(lg) { justify-content: space-around;}}
    &--justify-evenly { @include bp-up(lg) { justify-content: space-evenly;}}

    &--center { 
      @include bp-up(lg) {
        align-items: center;
        justify-content: center;
      }
    }

    &--sp-between { 
      @include bp-up(lg) {
        align-items: center;
        justify-content: space-between;
      }
    }

    &--top { 
      @include bp-up(lg) {
        align-items: flex-start;
        justify-content: center;
      }
    }

    &--bottom { 
      @include bp-up(lg) {
        align-items: flex-end;
        justify-content: center;
      }
    }
  }

  &-swap {

    &#{$self}-t,
    &#{$self}-t-wrap {

      [class*="col"] {
        &:nth-of-type(2) {
          @include bp-up(md) {
            order: -1;
          }
        }
      }
    }

    &#{$self}-d,
    &#{$self}-d-wrap {

      [class*="col"] {
        &:nth-of-type(2) {
          @include bp-up(lg) {
            order: -1;
          }
        }
      }
    }
  }

  &-position {
    align-items: var(--align, center);
    justify-content: var(--justify, center);
  }

  &-order {
    
    @include bp-up(lg) {
      order: var(--order, 0);
    }
  }
}