@use "../shared" as *;

.icon {
  $self: &;
  position: relative;
  display: inline-flex;
  justify-content: center;
  align-items: center;
  min-width: 42px;
  min-height: 42px;

  &-xs {
    @extend #{$self};

    img,
    svg,
    span {
      width: 20px;
      height: 20px;
    }
  }

  &-sm {
    @extend #{$self};

    img,
    svg,
    span {
      width: 30px;
      height: 30px;
    }
  }

  &-md {
    @extend #{$self};

    img,
    svg,
    span {
      width: 60px;
      height: 60px;
    }
  }

  &-lg {
    @extend #{$self};

    img,
    svg,
    span {
      width: 100px;
      height: 100px;
    }
  }

  &-xl {
    @extend #{$self};

    img,
    svg,
    span {
      width: 150px;
      height: 150px;
    }
  }

  &-plus {
    $self: &;
    position: relative;
    display: inline-block;
    height: 100%;
    width: 100%;
    transform: translate3d(0,0,0);
  
    &:before,
    &:after {
      content: '';
      @include center;
      background-color: currentColor;
    }
  
    &:before {
      height: 100%;
      width: 2px;
    }
  
    &:after {
      width: 100%;
      height: 2px;
    }
  }
  
  &-close {
    $self: &;
    position: relative;
    display: inline-block;
    height: 100%;
    width: 100%;
    transform: rotate(45deg) translate3d(0,0,0);
  
    &:before,
    &:after {
      content: '';
      @include center;
      background-color: currentColor;
    }
  
    &:before {
      height: 100%;
      width: 2px;
    }
  
    &:after {
      width: 100%;
      height: 2px;
    }
  }
  
  &-menu {
    $self: &;
    position: relative;
    width: 100%;
    height: 2px;
    background-color: currentColor;
  
    &:before,
    &:after {
      content:'';
      position: absolute;
      left: 0;
      width: 100%;
      height: 2px;
      background-color: inherit;
    }
  
    &:before { top: -6.5px; }
    &:after { bottom: -6.5px; }
  }
  
}