@use "../shared" as *;

.ls {
  
  &-none {
    list-style: none;

    &:not([class*="m"]) {
      margin-left: 0;
      margin-right: 0;
    }
  }

  &-col {
    columns: var(--columns, 2);
    
    &-upt {
      @include bp-up(md) {
        columns: var(--columns, 2);
      }
    }
    
    &-upd {
      @include bp-up(lg) {
        columns: var(--columns, 2);
      }
    }

    &-col,
    &-col-upt,
    &-col-upd {

      li { break-inside: avoid; }
    }
  }
}