@use "../shared" as *;

.section {
	$self: &;
	position: relative;
  width: 100%;
  
  div[class*="-text"] {
    position: relative;
    height: 100%;
    width: 100%;
		z-index: 1;
    display: flex;
    flex-direction: column;

    &.text-center { align-items: center; }
    &.text-left { align-items: flex-start; }
    &.text-right { align-items: flex-end; }

    &.middle { justify-content: center; }
    &.top { justify-content: flex-start; }
    &.bottom { justify-content: flex-end; }
  }
  
  &-100 {
    height: 100vh;
    height: calc(var(--vh, 1vh) * 100);
		min-height: 667px;

    @include bp-down(sm) {
      height: calc(100vh + var(--hh));
      height: calc((var(--vh, 1vh) * 100) + var(--hh));
    }
    
		@include bp-up(md) {
      min-height: 760px;
		}

    .container {
      height: 100%;
      width: 100%;
    }
    
    .bg-cover,
    .bg-inline {
      min-height: 667px;

      @include bp-up(md) {
        min-height: 760px;
      }
    }

    div[class*="-text"] {
      min-height: 667px;

      @include bp-up(md) {
        min-height: 760px;
      }
    }

    div[class*="-wrapper"] {
      @extend #{$self}-100;
    }
	}
  
  &-75 {
    height: 75vh;
    height: calc(var(--vh, 1vh) * 75);
		min-height: 650px;
    
		@include bp-up(md) {
      min-height: 700px;
		}

    .container {
      height: 100%;
      width: 100%;
    }
    
    .bg-cover,
    .bg-inline {
      min-height: 650px;

      @include bp-up(md) {
        min-height: 700px;
      }
    }

    div[class*="-text"] {
      min-height: 650px;

      @include bp-up(md) {
        min-height: 700px;
      }
    }

    div[class*="-wrapper"] {
      @extend #{$self}-75;
    }
	}
  
  &-50 {
    height: 50vh;
    height: calc(var(--vh, 1vh) * 50);
		min-height: 500px;
    
		@include bp-up(md) {
      min-height: 600px;
		}

    .container {
      height: 100%;
      width: 100%;
    }
    
    .bg-cover,
    .bg-inline {
      min-height: 500px;

      @include bp-up(md) {
        min-height: 600px;
      }
    }

    div[class*="-text"] {
      min-height: 500px;

      @include bp-up(md) {
        min-height: 600px;
      }
    }

    div[class*="-wrapper"] {
      @extend #{$self}-50;
    }
	}

  &-inset {
    padding: $spacing*1.5;

    @include bp-up(md) { padding: $spacing*3; }
    @include bp-up(xl) { padding: $spacing*5; }

    .bg-cover,
    .bg-inline {
      border-radius: 10px;
      overflow: hidden;
    }

    div[class*="-wrapper"] {
      position: relative;
      height: 100%;
      width: 100%;
    }
  }

}