// -- breakpoints
$bp-up-xs: 375px;
$bp-up-sm: 576px;
$bp-up-md: 768px;
$bp-up-lg: 992px;
$bp-up-xl: 1200px;
$bp-up-xx: 1400px;

$bp-down-xs: 374.98px;
$bp-down-sm: 575.98px;
$bp-down-md: 767.98px;
$bp-down-lg: 991.98px;
$bp-down-xl: 1199.98px;
$bp-down-xx: 1399.98px;

@mixin bp-up($bp-up) {

    @if $bp-up == xs {
        @media (min-width: $bp-up-xs) {
            @content;
        }
    }

    @if $bp-up == sm {
        @media (min-width: $bp-up-sm) {
            @content;
        }
    }

    @if $bp-up == md {
        @media (min-width: $bp-up-md) {
            @content;
        }
    }

    @if $bp-up == lg {
        @media (min-width: $bp-up-lg) {
            @content;
        }
    }

    @if $bp-up == xl {
        @media (min-width: $bp-up-xl) {
            @content;
        }
    }

    @if $bp-up == xx {
        @media (min-width: $bp-up-xx) {
            @content;
        }
    }

    @else {
        @media(min-width: $bp-up) {
            @content;
        }
    }
}

@mixin bp-down($bp-down) {

    @if $bp-down == xs {
        @media (max-width: $bp-down-xs) {
            @content;
        }
    }

    @if $bp-down == sm {
        @media (max-width: $bp-down-sm) {
            @content;
        }
    }

    @if $bp-down == md {
        @media (max-width: $bp-down-md) {
            @content;
        }
    }

    @if $bp-down == lg {
        @media (max-width: $bp-down-lg) {
            @content;
        }
    }

    @if $bp-down == xl {
        @media (max-width: $bp-down-xl) {
            @content;
        }
    }

    @if $bp-down == xx {
        @media (max-width: $bp-down-xx) {
            @content;
        }
    }

    @else {
        @media(max-width: $bp-down) {
            @content;
        }
    }
}