$black: #000;
$white: #fff;

$colors: (
    'black' : $black,
    'white' : $white,
);

@each $name, $color in $colors {
    .color-#{$name} {
        color: #{$color} !important;
    }

    .bg-#{$name} {
        background-color: #{$color};
    }
}

// default background/colors

body,
#main {
    background-color: $black;
    color: $white;
}

// selection color

::-moz-selection {
    background: $white;
    color: $black;
}

::selection {
    background: $white;
    color: $black;
}