.container {
    position: relative;
    width: 100%;
    margin: 0 auto;
    padding-left: $spacing*2;
    padding-right: $spacing*2;
    z-index: 1;

    &-xs {
        max-width: 374.94px;
    }

    &-sm {
        max-width: 575.98px;
    }

    &-md {
        max-width: 767.98px;
    }

    &-lg {
        max-width: 991.98px;
    }

    &-xl {
        max-width: 1199.98px;
    }

    &-xx {
        max-width: 1399.98px;
    }
}