* {
    margin: 0;
    text-rendering: optimizeSpeed;
    -webkit-text-size-adjust: 100%;
    -webkit-font-smoothing: antialiased;
    -moz-font-smoothing: none;
    -moz-osx-font-smoothing: grayscale;
}

*,
*:before,
*:after {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
    margin: 0;
    padding: 0;
    border: 0;
    vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, main, menu, nav, section, svg  {
    display: block;
}

blockquote, q {
    quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
    content: '';
    content: none;
}

table {
    border-collapse: collapse;
    border-spacing: 0;
}

html,
body,
#page {
    position: absolute;
    width: 100%;
    height: 100%;
    overflow: hidden;
}

input,
textarea,
select,
button {
    @include input-reset;
}

select {
    &::-ms-expand {
        display: none;
    }
}

img {
    display: block;
    height: auto;
    image-rendering: -moz-crisp-edges;
    image-rendering: -o-crisp-edges;
    image-rendering: -webkit-optimize-contrast;
    image-rendering: crisp-edges;
    -ms-interpolation-mode: nearest-neighbor;
}

h1, h2, h3, h4, h5, h6, p, blockquote, a {
    margin: 0;
    font-weight: inherit;
    font-size: inherit;
    font-style: inherit;
    color: inherit;
}

h1 > strong,
h2 > strong,
h3 > strong,
h4 > strong,
h5 > strong,
h6 > strong {
    font-weight: inherit;
}

a,
a:active,
a:focus,
a:hover,
a:visited {
    text-decoration: none;
}

#page {
    @include opacity(1);

    &.hidden {
        @include opacity(0);
        pointer-events: none;
    }
}

#main {
    position: absolute;
    height: 100%;
    width: 100%;
    overflow-x: hidden;
    overflow-y: scroll;
    z-index: 1;
}

#content {
    position: relative;
    min-height: 500px;

    @include bp-up(lg) {
        min-height: 600px;
    }
}

// -- bug fixes
*, html {
    -ms-overflow-style: none;
}