$fw-thin: 100;
$fw-xlight: 200;
$fw-light: 300;
$fw-normal: 400;
$fw-medium: 500;
$fw-semibold: 600;
$fw-bold: 700;
$fw-xbold: 800;
$fw-black: 900;

$fs-normal: normal;
$fs-italic: italic;

// @include font(CalistoMT, CalistoMT, $fw-normal, $fs-normal);
// @include font(CalistoMT, CalistoMT-Italic, $fw-normal, $fs-italic);
// @include font(CalistoMT, CalistoMTBol, $fw-bold, $fs-normal);
// @include font(CalistoMT, CalistoMT-BoldItalic, $fw-bold, $fs-italic);

$ff-serif: serif;
$ff-sans-serif: sans-serif;

$ff-title: "Font-Name", $ff-serif;
$ff-body: "Font-Name", $ff-sans-serif;