.img {
    &-fluid {
        max-width: 100%;
    }

    &-full {
        width: 100%;
    }

    &-cover {
        @include object-fit;
    }

    &-contain {
        @include object-fit(contain);
    }
    
    &-mobile {
        display: block;

        @include bp-up(lg) {
            display: none;
        }
    }


    &-desktop {
        display: none;

        @include bp-up(lg) {
            display: block;
        }
    }
}