@mixin font($ff, $fn, $fw, $fs) {
    @font-face {
        font-family: "#{$ff}";
        src: url("fonts/#{$fn}.eot");
        src: url("fonts/#{$fn}.eot?#iefix") format("embedded-opentype"),
            url("fonts/#{$fn}.svg##{$fn}") format("svg"),
            url("fonts/#{$fn}.ttf") format("truetype"),
            url("fonts/#{$fn}.woff") format("woff"),
            url("fonts/#{$fn}.woff2") format("woff2");
        font-weight: $fw;
        font-style: $fs;
    }
}

@mixin ul-remove($margin:0, $padding:0) {
    margin: $margin;
    padding: $padding;
    list-style: none;
}

@mixin columns($num: 0) {
    columns: $num;
    -webkit-columns: $num;
    -moz-columns: $num;
}

@mixin ib-middle {
    display: inline-block;
    vertical-align: middle;
}

@mixin shadow($options:0px 0px 4px, $opacity:.2) {
    filter: drop-shadow($options transparentize($black,$opacity));
}

@mixin underline {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 2px;
}

@mixin center {
    position: absolute;
    top: 50%;
    left: 50%;
    @include transform(translate(-50%, -50%));
}

@mixin cover($position: absolute) {
    position: $position;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

@mixin fullwidth {
    position: relative;
    max-width: initial;
    width: 100vw;
    margin-left: -50vw;
    left: 50%;
}

@mixin object-fit($objectfit: cover, $objectposition: 50% 50%) {
    display: block;
    height: 100%;
    width: 100%;
    object-fit: $objectfit;
    -o-object-fit: $objectfit;
    object-position: $objectposition;
    -o-object-position: $objectposition;
}

@mixin input-reset {
    -webkit-appearance: none;
    -moz-appearance: none;
    -ms-appearance: none;
    -o-appearance: none;
    appearance: none;
    // outline: none;
    border: none;
    border-radius: 0;
    box-shadow: none;
    box-sizing: border-box;
}

@mixin placeholder {
    &::-webkit-input-placeholder {
        @content;
    }

    &:-moz-placeholder {
        @content;
    }

    &::-moz-placeholder {
        @content;
    }

    &:-ms-input-placeholder {
        @content;
    }
}

@mixin filter-black {
    filter: contrast(0) brightness(0);
    -webkit-filter: contrast(0) brightness(0);
}

@mixin filter-white {
    filter: brightness(0) invert(1);
    -webkit-filter: brightness(0) invert(1);
}

@mixin flip-text {
    -webkit-writing-mode: vertical-lr;
    -ms-writing-mode: tb-lr;
    writing-mode: vertical-lr;
    text-orientation: upright;
    -webkit-font-feature-settings: "vkrn", "vpal";
    font-feature-settings: "vkrn", "vpal";
}

// Animations and keyframes
@mixin keyframes($animation-name) {
    @-webkit-keyframes #{$animation-name} {
        @content;
    }

    @-moz-keyframes #{$animation-name} {
        @content;
    }

    @-ms-keyframes #{$animation-name} {
        @content;
    }

    @-o-keyframes #{$animation-name} {
        @content;
    }

    @keyframes #{$animation-name} {
        @content;
    }
}

// usage:
// @include keyframes(slide-down) {
//     0% {}
//     90% {}
// }
// .element {
//     @include animation('slide-down 5s 3');
// }
@mixin animation($str) {
    -webkit-animation: #{$str};
    -moz-animation: #{$str};
    -ms-animation: #{$str};
    -o-animation: #{$str};
    animation: #{$str};
}

// usage: @include animation-delay(.2s);
@mixin animation-delay($animation-delay) {
    -moz-animation-delay: $animation-delay;
    -o-animation-delay: $animation-delay;
    -webkit-animation-delay: $animation-delay;
    animation-delay: $animation-delay;
}

// Transitions
// usage: @include transition(color .3s ease);
@mixin transition($args...) {
    -webkit-transition: $args;
    -moz-transition: $args;
    -ms-transition: $args;
    -o-transition: $args;
    transition: $args;
}

// usage: @include transition-delay(.2s);
@mixin transition-delay($delay...) {
    -moz-transition-delay: $delay;
    -o-transition-delay: $delay;
    -webkit-transition-delay: $delay;
    transition-delay: $delay;
}

// Cross browser opacity
// usage: @include opacity(0.8);
@mixin opacity($opacity) {
    opacity: $opacity;
    $opacity-ie: $opacity * 100;
    filter: alpha(opacity=$opacity-ie); //IE8
}

// transforms 
@mixin transform($transforms) {
    -webkit-transform: translateZ(0) $transforms;
    -moz-transform: translateZ(0) $transforms;
    -ms-transform: translateZ(0) $transforms;
    transform: translateZ(0) $transforms;
    
    -webkit-transform-style: preserve-3d;
    -moz-transform-style: preserve-3d;
    transform-style: preserve-3d;
    
    -webkit-backface-visibility: hidden;
    -moz-backface-visibility: hidden;
    backface-visibility: hidden;

    -webkit-perspective: 1000;
    -moz-perspective: 1000;
    perspective: 1000;
}

// Rotate
@mixin rotate ($deg) {
    @include transform(rotate(#{$deg}deg));
}

// Scale
@mixin scale($scale) {
    @include transform(scale($scale));
}

// Translate
@mixin translate ($x, $y) {
    @include transform(translate($x, $y));
}

// Skew
@mixin skew ($x, $y) {
    @include transform(skew(#{$x}deg, #{$y}deg));
}

// Transform Origin
@mixin transform-origin ($origin) {
    -webkit-transform-origin: $origin;
    -moz-transform-origin: $origin;
    -ms-transform-origin: $origin;
    transform-origin: $origin;
}

@mixin hide {
    @include opacity(0);
    visibility: hidden;
    pointer-events: none;
}

@mixin show {
    @include opacity(1);
    visibility: visible;
    pointer-events: all;
}