$spacing: 10px;
$spacing-x: $spacing;
$spacing-y: $spacing;
$spacers: (
    0: (
        x: 0,
        y: 0
    ),
    h: (
        x: $spacing-x / 2,
        y: $spacing-y / 2
    ),
    q: (
        x: $spacing-x * 1.5,
        y: $spacing-y * 1.5
    ),
    1: (
        x: $spacing-x,
        y: $spacing-y
    ),
    2: (
        x: ($spacing-x * 2),
        y: ($spacing-y * 2)
    ),
    3: (
        x: ($spacing-x * 3),
        y: ($spacing-y * 3)
    ),
    4: (
        x: ($spacing-x * 4),
        y: ($spacing-y * 4)
    ),
    5: (
        x: ($spacing-x * 5),
        y: ($spacing-y * 5)
    ),
    6: (
        x: ($spacing-x * 6),
        y: ($spacing-y * 6)
    ),
    7: (
        x: ($spacing-x * 7),
        y: ($spacing-y * 7)
    ),
    8: (
        x: ($spacing-x * 8),
        y: ($spacing-y * 8)
    ),
    9: (
        x: ($spacing-x * 9),
        y: ($spacing-y * 9)
    ),
    10: (
        x: ($spacing-x * 10),
        y: ($spacing-y * 10)
    ),
);

@mixin spacing() {

    @each $prop,
    $abbrev in (margin: m, padding: p) {

        @each $size,
        $lengths in $spacers {
            $length-x: map-get($lengths, x);
            $length-y: map-get($lengths, y);

            .#{$abbrev}-#{$size} {
                #{$prop}: $length-y $length-x;
            }

            .#{$abbrev}t-#{$size} {
                #{$prop}-top: $length-y;
            }

            .#{$abbrev}r-#{$size} {
                #{$prop}-right: $length-x;
            }

            .#{$abbrev}b-#{$size} {
                #{$prop}-bottom: $length-y;
            }

            .#{$abbrev}l-#{$size} {
                #{$prop}-left: $length-x;
            }

            .#{$abbrev}x-#{$size} {
                #{$prop}-left: $length-x;
                #{$prop}-right: $length-x;
            }

            .#{$abbrev}y-#{$size} {
                #{$prop}-top: $length-y;
                #{$prop}-bottom: $length-y;
            }
        }
    }
}

.mx-auto {
    margin-left: auto;
    margin-right: auto;
}

@include spacing;