.swiper {
    $self: &;

    &-container {}

    &-pagination {

        &-bullet {
            &-active {}
        }
    }

    &-button {
        &-lock {
            display: none;
        }
        
        &-next {}

        &-prev {}
    }
}